<footer class="bottom-0 left-0 mt-20 z-10 w-full p-2 border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-slate-700 border-slate-600">
    <div class="flex lg:w-[1120px] mx-auto items-center justify-between">
        <span class="text-sm sm:text-center text-sky-200">Claudio Uribe. Diseñador y community manager.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-slate-400 sm:mt-0">
            <li>
                <a href="#experiencia" class="hover:underline me-4 md:me-6">Experiencia</a>
            </li>
            <li>
                <a href="#top" class="hover:underline me-4 md:me-6">Sobre mi</a>
            </li>
            <li>
                <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
            </li>
            <li>
                <a href="#contacto" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
