<header class='flex justify-center py-3 lg:w-[1120px] mx-auto items-center'>
        <nav class="flex flex-wrap gap-3 sm:gap-x-12">
        <a href='#top'>Inicio</a>
        <a href='#experiencia'>Experiencia</a>
        <a href='#proyectos'>Proyectos</a>
        <a href='#sobre-mi'>Sobre mí</a>
        <a href='#contacto'>Contacto</a>
    </nav>
</header>